
html, body{
    height: 100%;
    width: 100%;
    background-color:#f5cdaa;
}
#loginPage{
    margin-right: auto;
    margin-left: auto;
}

.vertical-center{
    min-height: 100%;  
    min-height: 100vh;
  
    display: flex;
    align-items: center;
}

#pageNotFound{
    background-image: url("page-not-found-2.png");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pageNotFoundContain{
    background-color: white;
    margin: 12em 14em;
    padding: 4em;
    border-radius: 1em;
    opacity: 0.8;
}

.pageNotFoundContent h4{
    font-weight: 700;
}

.pageNotFoundContent h2{
    font-size: 4em
}

.leftside .keep h2{
    font-weight: 900;
    font-size: 3em;
    color: #1d1f3b;
    opacity:2;
}

.leftside .life h5 , .tulisanRegis{
    font-weight: 800;
    font-size: 1.6em;
    color: #1d1f3b
}

#loginArea{
    min-height: 100%;
  background-color: blue
}

.leftside, .rightside{
    height: 50vh;
    width: 100%;
}
 
@media screen and (min-width: 768px){
    .leftside, .rightside {
        height: 100vh;
    }
}
.leftside{
    /* background-color: blueviolet; */
    background-image: url("patternLoginPage2.png");
    /* opacity: 0.7; */
}

.containKeepLife{
    background-color: white;
   margin: 5em;
    border-radius: 1em;
    opacity: 0.95;
}


.rightside{
    background:#f5745d;
}

.form-group{
    background-color: white;
    margin: 2vh;
    border-radius: 1em;
}

.btn-primary{
    background: #1d1f3b;
    border-color: #1d1f3b;
}
#navBar{
    /* margin :0 -1em;
    padding: 0.2em 0.5em; */
    background-color: #f5cdaa;
    font-weight: 900;
    font-size: 3em;
}

#searchNav{
  border-color: #1d1f3b;
  color: #1d1f3b;
}

#sapaUser{
    /* margin :0 -1em;
    padding: 0.2em 0.5em; */
    background-color: wheat;
    font-weight: 200;
    font-size: 2em;
    height: 50vh;
    background-image: url("jordan-wozniak-xP_AGmeEa6s-unsplash.jpg");
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
}

.weatherContain, .haloUser{
    background-color: rgba(255, 250, 250, 0.4);
    padding: 50px;
    border-radius: 15px;
}

/* @media screen and (min-width: 768px){
    .weatherContain, .haloUser {
    max-width: 50%
    }
} */

#todo{
    width: 100%;
    height: 50vh;
    background-color: #f5745d;
    /* margin :0 -1em;
    padding: 0.2em 0.5em; */
}

#asetTodo{
    width: 400px;
    height: 400px;
    
    background-image: url("done-5.png");
    background-size: 400px;
    margin: 50px auto;
    padding-top: 70px;
    font-size: 3em;
    align-content: center;
    justify-content: center
}

.letsDo{
    border-radius: 1em;
    background-color: rgba(255, 255, 255, 0.6);
    padding: 1em;
    border-radius: 0.3em;
    text-align: center
}

.letsDo h5{
    font-weight: 800;
    font-size: 1.6em;
    color: #1d1f3b
}

#hewwo{
    font-weight: 800;
    font-size: 1.6em;
}

.todos{
    margin: 30px 0;
    background-color: rgba(255, 250, 250, 0.4);
    padding: 50px;
    border-radius: 15px;
}

#navbarDropdown{
    font-size: 16px;
}
