/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
   -ms-overflow-style: none;
}

input[type=text],
input[type=date],
textarea {
   border: 3px solid #a0aec0;
}

input[type=text]:focus,
input[type=date],
textarea:focus {
   outline: none;
}