/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
   display: none;
}

/* Hide scrollbar for IE and Edge */
.example {
   -ms-overflow-style: none;
}

input[type=text],
input[type=email],
input[type=password],
input[type=submit],
textarea {
   border: 1px solid #e2e8f0;
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}

label {
   margin-top: 0.5rem;
   margin-bottom: 0.5rem;
}



